section{
    width: 100%;
    padding: 0px;
    min-height:calc(100vh - 80px);
}

section .form_data{
    max-width: 550px;
    padding: 35px 10px;
    margin: 25px auto;
    box-shadow: 0 0 30px -10px rgb(233, 228, 228);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.form_heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_data h1{
    font-size: 34px;
    color: whitesmoke;
}

.form_data p{
    color: whitesmoke;
    font-size: 15px;
    margin-top:2px;
}

.form_data form{
    margin-top: 15px;
    width: 100%;
    padding: 0px 50px;
}

.form_data form .form_input input{
    width: 100%;
    padding: 11px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    outline: none;
    margin-bottom: 14px;
    margin-top: 9px;
    font-size: 14px;
    font-display: whitesmoke;
    
}
.form_data form .form_input label{
    color: whitesmoke;
}

.form_data form .form_input label{
    font-weight: 600;
    font-size: 15px;
}

.form_input .two{
    display: flex;
    align-items: center;
    position: relative;
}

.form_data form .form_input input:focus{
    border:2px solid rgba(62, 147, 217, 0.6);
}


.form_data form .form_input input::placeholder{
    color:black;
    letter-spacing: .5px;
    font-size: 14px;
}

.form_input .showpass{
    position: absolute;
    right: 0;
    top:1px;
    padding: 7px 10px;
    margin-right: 5px;
    margin-top: 12px;
    font-size: 14px;
    font-weight: 600;
    color:black;
    background-color:whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}

form .button{
    display:block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color:#1a365d;
    color:whitesmoke;
    font-weight: 600;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s;
}


form .btn:hover{
    background-color: whitesmoke;
}

.form_data form p{
    text-align: center;
    margin-top: 20px;
}

.form_data form a{
    text-decoration: none;
    color:whitesmoke ;
    border-bottom: 2px solid whitesmoke;
}


  